.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
        grid-row: 3 / 4;
        grid-column: full-start / full-end;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 5vh 2rem;
        // justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(6, max-content);
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: repeat(2, max-content);
        }
    }

    &__img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
    }
}
